.App {
  padding-top: calc(var(--navHeight) *2);
  text-align: center;
}

main {
  max-width: 445px;
  margin: 0 auto;
}

a:any-link {
  text-decoration: none;
}

.loadingBar {
  position: absolute;
  top: 45px;
  left: 0;
  height: 3px;
  background-color: #0d68cf;
}