:root{
  --navHeight: 45px;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #1A3657;
  color: #fff;
}

.navInner {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 1fr;
  max-width: 1024px;
  width: 100%;
  height: var(--navHeight);
  margin: 0 auto;
  font-size: .9em;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 375px;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    // padding: 0 25px;
    flex-grow: 1;
    line-height: var(--navHeight);
  }
}

.signOutContainer {
  margin-left: auto;
  padding-right: 13%;
  line-height: var(--navHeight);

  a {
    display: flex;
    justify-items: flex-end;
    align-items: center;
  }

  img {
    display: inline-block;
    width: calc( var(--navHeight) - 10px);
    height: calc( var(--navHeight) - 10px);
    margin-left: 10px;
    border-radius: 50%;
  }
}

.navActiveView {
  font-weight: 700;
}