.questionToggle {
  display: flex;
  justify-items: stretch;
  align-items: stretch;
  max-width: 200px;
  height: 34px;
  overflow: hidden;
  margin: 40px auto 10px auto;
  border: solid 1px #0d68cf;
  border-radius: 4px;
  font-size: .9em;
  color: #fff;

  label {
    flex-grow: 1;
    line-height: 32px;
    user-select: none;
    cursor: pointer;
  }

  input{
    display: none;
  }
}

.questionToggleInactive {
  color: #0d68cf;
  // background-color: #fff;
}

.questionToggleActive {
  color: #fff;
  background-color: #0d68cf;
}